body {
    background-color: hsl(350, 40%, 80%);
}

h1 {
    text-align: center;
}

h4 {
    background-color: blanchedalmond;
    font-family: serif;
    text-transform: uppercase;
    text-align: center;
}

ul {
    list-style-type: circle;
}

.body {
    background-color: hsl(30, 40%, 80%);
}

.jake {
    text-align: center;
}
/* hilarious! Turns out you can use a <p> element to designate an 
enclosed <img> element as text and format it using text tools. */

.tpic {
    list-style: none;
}

.tlist {
    list-style-position: inside;
    column-count: 3;
}

.tofu {
    position: relative;
    bottom: 172px;
    left: 298px;
}
/* position renders differently according to window width;
find a better solution (consider: column, list, position) */

.scramble {
    position: relative;
    top: 18px;
}

.spice {
    color: hsl(30, 95%, 45%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

.vegetable {
    color: hsl(120, 95%, 30%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

