body {
    background-color: hsl(30, 40%, 80%);
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    margin: 0 auto;
}

img {
    border-radius: 30px;
    box-shadow: 2px 2px 3px;
}

h4 {
    background-color: blanchedalmond;
    font-family: serif;
    text-transform: uppercase;
    text-align: center;
}

button {
    background-color: hsl(215, 49%, 59%);
    border-radius: 12px;
    padding: 6px 12px;
}

button:hover {
    background-color: hsl(215, 69%, 45%);
}

a {
}

ul {
    padding: 0;
}

code {
    display: inline-block;
    margin-bottom: 8px;
}

.body {
    
}

.card {
    width: 1200px;
    background-color: hsl(350, 40%, 80%);
    border: 2px solid black;
    border-radius: 30px;
    box-shadow: 4px 2px 6px 2px rgba(0, 0, 0, .5),
                -2px -2px 4px rgba(0, 0, 0, .5);
    margin: 20px auto;
}

.decor {
    display: flex;
}

.letter {
    box-shadow: none;
    width: 160px;
    margin: 0 auto 8px;
}

.jake {
    width: 480px;
    margin: 0 auto 8px;
}
/* hilarious! Turns out you can use a <p> element to designate an 
enclosed <img> element as text and position it using text-align. */
/* you can also center a box by declaring right/left margins as
auto */

.list-card {
    background: hsl(30, 40%, 80%);
    width: 1000px;
    border: 2px solid black;
    border-radius: 30px;
    margin: 8px auto;
}

.tlist {
    display: flex;
    list-style-position: inside;
    justify-content: space-between;
    margin-inline: 2rem;
    padding-inline: 40px;
}

.null {
    background-color: hsl(355, 65%, 30%);
    border-radius: 30px;
    border: 5px solid black;
    padding: 16px;
    list-style: none;
}

.ilist {
}

.titem {
    list-style: none;
    text-align: center;
    padding: 4px;
    border-radius: 15px;
    ;
}

.tpic {
    list-style: none;
    padding: 5px;
}

.tofu {
}
/* !solved! position renders differently according to window width;
goal is to have the (list item) link directly above the corresponding
image with one recipe per column. (consider: column, list, position...
there is probably a grid or table property I can use) */
/* solution: display: flex; + nested <ul>'s */

.scramble {
}

.spice {
    color: hsl(30, 95%, 45%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

.vegetable {
    color: hsl(120, 95%, 30%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

