body {
    background-color: hsl(350, 40%, 80%);
}

h1 {
    text-align: center;
}

h4 {
    background-color: blanchedalmond;
    font-family: serif;
    text-transform: uppercase;
    text-align: center;
}

a {
    border: 2px solid black;
    padding: 3px;
    margin: 5px
}

ul {
    list-style-type: circle;
}

.body {
    background-color: hsl(30, 40%, 80%);
}

.jake {
    text-align: center;
}
/* hilarious! Turns out you can use a <p> element to designate an 
enclosed <img> element as text and format it using text rules. */

.null {
    list-style: none;
}

.tlist {
    display: flex;
    list-style-position: inside;
    justify-content: space-between;
    margin-inline: 2rem;
    padding-inline: 40px;
}

.ilist {
}

.tpic {
    list-style: none;
    padding: 5px;
}

.tofu {
}
/* !solved! position renders differently according to window width;
goal is to have the (list item) link directly above the corresponding
image with one recipe per column. (consider: column, list, position...
there is probably a grid or table property I can use) */
/* solution: display: flex; + nested <ul>'s */

.scramble {
}

.pad {
    padding-right: 40px;
    margin-right: 32px;
}

.spice {
    color: hsl(30, 95%, 45%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

.vegetable {
    color: hsl(120, 95%, 30%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

